.promess-list {
    .accordion {
        .card {
            .card-header {
                display: flex;
                flex-grow: 0;
                justify-content: space-between;
                span {
                    text-align: left;
                    width: 50%;
                }
                .progress {
                    width: 50%;
                    .progress-bar {
                        background-image: linear-gradient(to right, #3742fa, #9c5eff);
                    }
                }
            }
        }
    }
}